#Data Types and Structures

#Q1. What are data structures, and why are they important?

-> Data Structures are the way of organizing and storing data so that it can be accessed and manipulated efficiently. Data structures are important because-

1. Makes code efficient
2. Better memory management
3. Enable code reusability
4. Make operations on data easier

#  Q2. Explain the difference between mutable and immutable data types with examples

-> Mutable data types are the data types whose value can be changed after their creation. For example- List data type
In list data type, value of any object can be changed.
lis = [1,2,3,4]
l[1]=5 -> Value of l[1] is changed.

Immutable data types are the data types whose value cannot be changed after their creation. For example- String, tuple data types

t=(1,2,3,4)
t[2]=5 -> error - tuple does not support item assignment. Hence, value of any object in strings and tuples cannot be changed.

# Q3. What are the main differences between lists and tuples in Python?

-> 1. Lists are mutable that is values of any object of list can be changed whereas Tuples are immutable that is values of any object cannot be changed.
   
   2. List once defined can be modified whereas tuples once defined is fixed that is cannot be modified throughout the code.

   3. Lists are ordered collection of elements of any type whereas tuples are ordered collection of fixed number of elements of any type.

# Q4. Describe how dictionaries store data

-> Dictionaries store data in form of key-value pairs meaning each piece of information is associated with a unique identifier called a "key" which allows for quick retrieval of the corresponding "value" associated with that key.
For example- my_dict{"Data Course": "Data Analytics", "Duration": 30}
Here, Key is Data Course whose value is Data Analytics. Similarly, Duration is another key whose value is 30.

# Q5. Why might you use a set instead of a list in Python?

-> We might choose to use a set instead of a list in Python for several reasons:
Uniqueness:
1. Removing Duplicates- Sets only store unique values, eliminating duplicates from a collection of data
2. Membership testing- Checking if an element exists in a set is significantly faster than checking in a list, especially for large datasets. This is because sets use hash tables.
3. For doing set operations on data such as Union, Intersection, Difference and Assymetric Difference.

# Q6. What is a string in Python, and how is it different from a list?

-> String is a sequence of characters whereas list is collection of ordered elements of any type.
It is different from list because of following:-

1. It's object's values cannot be changed that is Strings are immutable whereas Lists are mutable.

2. String only contain characters whereas list contain data of any type.

3. Strings stored in numerical value in ASCII representation or in unicode representation.

# Q7. How do tuples ensure data integrity in Python?

-> Tuples once defined cannot be changed throughout the entire code. Nothing can modify tuple throught the code. For example, Aadhaar ID and Employee ID once generated cannot be changed for entire life. Thus, Tuples ensure data integrity in code.

# Q8. What is a hash table, and how does it relate to dictionaries in Python?

-> Hash table is an internal data structure which stores indices of data structures such as string, list and tuple using hash function in key-value pairs that is key as an index and at that index value is value of that corresponding key.

Dictionaries are related to it because dictionaries are also stored in key-value pairs using hash tables as hash table stores.

# Q9. Can lists contain different data types in Python?

-> Yes, Lists can contain different data types in Python

# Q10. Explain why strings are immutable in Python.

-> Strings are immutable because

Strings are designed in Python for:

Performance: Immutable objects are generally faster to access than mutable objects. This is because the interpreter doesn't need to worry about the object changing unexpectedly.

Hashing:
Immutable objects can be easily and efficiently hashed, making them suitable as keys in dictionaries.

Security:
Immutable objects are inherently more secure because their values cannot be altered, preventing unintended modifications.

Sharing:
Immutable objects can be safely shared across different parts of a program without the risk of data corruption.

# Q11. What advantages do dictionaries offer over lists for certain tasks

-> Dictionaries offer several advantages over lists for certain tasks, including:

Fast lookups: Dictionaries use a hash table to store key-value pairs, which makes them ideal for tasks that require frequent lookups or searches.
Memory efficiency: Dictionaries only store the key-value pairs you need, so they can store large amounts of data without taking up too much memory.

Flexibility: Dictionaries can store any type of data as both the key and the value.

Speed: Dictionaries are consistently faster than lists. For example, a dictionary is 89.4 times faster than a list for a list size of 10,000 elements, and 11,603 times faster for a list size of 990,000 elements.
Preferred for large amounts of data: Dictionaries are preferred when working with large amounts of data.

More useful than lists: Dictionaries can be more useful than lists for tasks like storing a list of friend's cell phone numbers. Once the list becomes long, it can be time consuming to search for a specific phone number.

# Q12. Describe a scenario where using a tuple would be preferable over a list

-> Tupes are preferred over list when we do not want to change data to be contained by tuple throughout the code. It is used to maintain data integrity. Tuples are preferred for fixed data elements and require no alteration throughout the code.

# Q13. How do sets handle duplicate values in Python?

-> Sets collect only unique elements therefore eliminates duplicate element.Sets in Python automatically handle duplicate values by simply ignoring them. When you add a duplicate value to a set, it doesn't raise an error, but it also doesn't add the duplicate value to the set.

# Q14. How does the “in” keyword work differently for lists and dictionaries?

-> When using the "in" keyword, it checks for membership within a list by searching for the exact value, while in a dictionary, it checks if a given value exists as a key, meaning it only looks for the key and not the associated value; essentially, "in" looks for elements in a list and keys in a dictionary.

# Q15. Can you modify the elements of a tuple? Explain why or why not

-> Tuples are immutable that's why we cannot modify elements of a tuple. Tuples once defined are fixed throughout the code. Any internal code implementation cannot change tuple.

# Q16. What is a nested dictionary, and give an example of its use case?

-> A nested dictionary is a dictionary that contains other dictionaries, and is a useful way to represent data with multiple layers of organization. Here are an example of use cases for nested dictionaries:
Employee records: Organize employees by department, with each employee's details in a nested dictionary.

# Q17. Describe the time complexity of accessing elements in a dictionary

-> The time complexity of accessing an element in a dictionary is O(1), which means it takes a constant amount of time to search for a value in a dictionary, regardless of the size of the dictionary. The space complexity is also O(1) because no additional memory is used to access the element.

# Q18. In what situations are lists preferred over dictionaries

-> Lists are preferred over dictionaries when the order of elements is crucial, when you need to perform frequent operations like appending or extending elements, or when you need to access elements sequentially based on their position within the collection, as lists maintain the insertion order of their elements while dictionaries prioritize fast key-based lookups.

# Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries store data in key-value pairs and order of elements does not matter to dictionaries. It prioritize elements in searching for of an element based on key and based upon this dictionaries order elements for faster look up while searching for an element based on key if key is far from the beginning of dictionary's first key then it would take long time to search for that corresponding key in dictionary thus, it affects data retrieval in dictionaries.

# Q20. Explain the difference between a list and a dictionary in terms of data retrieval

-> List retrieves data using its index position (numerical order), while a dictionary retrieves data using a unique key, allowing for direct access to a specific value without needing to iterate through the entire collection; essentially, lists are ordered sequences, whereas dictionaries are key-value pairs, making dictionary lookups significantly faster for specific data retrieval based on a known key.

# Practical Questions

# Q1. Write a code to create a string with your name and print it.

In [1]:
"""s="Chetan Das"
print(s)"""

Chetan Das

# Q2. Write a code to find the length of the string "Hello World".

In [2]:
""" s="Hello World"
print(len(s)) """

11

# Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
""" s="Python Programming"
print(s[0:3]) """

Pyt

# Q4. Write a code to convert the string "hello" to uppercase

In [6]:
""" s="hello"
print(s.upper()) """

' s="hello"\nprint(s.upper()) '

# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
""" s="I like apple"
s.replace("apple","orange") """

'I like orange'

# Q6. Write a code to create a list with numbers 1 to 5 and print it

In [7]:
""" l=[1,2,3,4,5]
l """

[1, 2, 3, 4, 5]

# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
""" l=[1,2,3,4]
l.append(10)
l """

[1, 2, 3, 4, 10]

# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
""" l= [1,2,3,4,5]
l.remove(3)
l  """

[1, 2, 4, 5]

# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
""" l= ['a', 'b', 'c', 'd']
l[1]  """

'b'

# Q10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [13]:
""" l= [10, 20, 30, 40, 50]
print(l[::-1]) """

[50, 40, 30, 20, 10]

# Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [14]:
""" t=(10,20,30)
t  """

(10, 20, 30)

# Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [16]:
""" t= ('apple', 'banana', 'cherry')
t[0]  """

'apple'

# Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [18]:
""" t=(1,2,3,2,4,2)
t.count(2)    """

3

# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [19]:
""" t=('dog', 'cat', 'rabbit')
t.index("cat")  """

1

# Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [21]:
""" t=('apple', 'orange', 'banana')
"banana" in t """

True

# Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [22]:
""" s={1,2,3,4,5}
s  """

{1, 2, 3, 4, 5}

# Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [24]:
""" s={1,2,3,4}
s.add(6)
s   """

{1, 2, 3, 4, 6}

# Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it

In [25]:
""" t=(10,20,30)
t   """

(10, 20, 30)

# Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [26]:
""" t=('apple', 'banana', 'cherry')
t[0]  """

'apple'

# Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [28]:
""" t=(1,2,3,2,4,2)
t.count(2) """

3

# Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [29]:
""" t = ('dog', 'cat', 'rabbit')
t.index("cat")  """

1

# Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [30]:
""" t=('apple', 'orange','banana')
'banana' in t   """

True

# Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [31]:
""" s={1,2,3,4,5}
s  """

{1, 2, 3, 4, 5}

# Q24.Write a code to add the element 6 to the set {1, 2, 3, 4}

In [32]:
""" s={1,2,3,4}
s.add(6)
s  """

{1, 2, 3, 4, 6}